*{
    padding: 0;
    margin:0;
    text-transform: none;
    font-weight: normal;
    text-decoration: none
}
a,
.btn-search{
    color:black;
    border:1px solid rgba(192,192,192,0.3);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    margin: 5px;
    display: inline-block;
    box-shadow: 1px 3px 5px rgba(192,192,192,1);
    cursor:hand;
}
a:hover,
.btn-search:hover{
    box-shadow: -1px -1px 5px rgba(0,0,0,0.5);
}
.show-records{
    border-spacing: 0;
    margin: 0 auto;
}
.table-row-title{
    background-color: #9F9F9F;
    cursor: default;
}
.table-row-title th{
    padding: 10px;
    text-transform: capitalize;
    font-weight: bolder;
    border-bottom: 2px solid #000;
}

.table-row-data{
    background-color: rgba(192,192,192,0.3);
}
.table-row-data:nth-child(2n){
    background-color: rgba(192,192,192,0.2);
}
.table-row-data:hover{
    background-color: rgba(192,192,192,0.7);
    cursor: default;
}
.table-row-data td{
    padding:5px;
    display: block;
    border-bottom: 1px solid rgba(192,192,192,1.0);
}
.menu-bar,
.search-records fieldset{
    background-color: rgba(192,192,192,0.2);
    border:none;
    margin:10px auto;
    padding:5px;
    box-shadow: 1px 3px 5px rgba(192,192,192,0.5);
    width: 590px;
}
.search-records fieldset:hover{
    background-color: rgba(192,192,192,0.4);
}
.search-records fieldset legend{
    text-align: center;
    padding: 25px 5px 0 0;

}
.search-records input[type='text']{
    padding:3px;
}
.search-records span{
    font-weight: bold;
}
.search-records .text-and{
    font-size: 0.7em;
    font-weight:normal;
    font-style: italic;
    width: 100px;
    display: inline-block;
    vertical-align: bottom;
}
#form-records input{
    background-color: transparent;
    border:none;
    padding:5px;
    font-size: 1em;
}

#form-records td:first-child input{
    width:30px;
    padding:0;
}