{% extends 'table.html' %}

{% block table_content %}

    {% for key, record in line_record.iteritems() %}
        <tr class='table-row-data'>
                {% for data in record %}
                    <td id='[{{key}}, "{{meta_data[loop.index0]["field_name"]}}" ]'>{{data}}</td>
                {% endfor %}
            <td>
                <span class='line-menu'>
                    <input type='button' name='rmv-record' id='rmv-record' onClick='remove_record("{{record[0]}}", "{{record[1]}}");' value='Remover'>
                </span>
            </td>
        </tr>
    {% endfor %}

{% endblock %}
