{% extends 'base.html' %}
{% block content %}

      <table id='show-records' name='show-records' class='show-records sortable editable'>
        <thead>
          <tr id='table-row-title' name='table-row-title' class='table-row-title'>
            {% for table_title in meta_data %}
                <th>{{table_title.field_name}}</th>
            {% endfor %}
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody id='table-body'>
          {% block table_content %}{% endblock %}
        </tbody>
      </table>

{% endblock %}